body {
    margin: 0px;
    padding: 0px;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
    justify-content: center;
}
.chat__header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.chat__message > span {
    color: white;
}

.chat__boxmessage {
    color: #fff;
}

.chat__boxmessage a {
    color: #fff;
    text-decoration: none;
}
.chat__name {
    position: absolute;
    top: -15px;
    /* right: 0% !important; */
    font-weight: 800;
    font-size: xx-small;
    color: black !important;
}
.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
    color: #fff;
}
